@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

:root {
    --primary-color: rgb(50, 96, 156);
    --primary-color-darker: rgb(34, 64, 104);
    --secundary-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    outline: 0;

}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container {
    background: var(--secundary-color);
    max-width: 640px;
    margin: 30px auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
    border-radius: 20px;
}

